@{
    ViewBag.Title = "Home Page";
}

<h3>WELCOME TO UTD ONLINE EXCHANGE PORTAL</h3>
<ol class="round">
    <li class="one">
        <h5>POST AD's</h5>
      You can now POST AD's for anyhting you wish to sell with UTD ONLINE EXCHANGE
    </li>

    <li class="two">
        <h5>WISHLIST</h5>
      You can create a WishList of the products you want to buy.
    </li>

    <li class="three">
        <h5>COMPARE</h5>
        Compare between our various trending products to choose the best.
    </li>
</ol>
